*~
*.bak
*.swp
*.orig
*.o
*.a
*.class
*.ear
*.rar
*/.deps/*
.deps
Makefile
Makefile.in
INSTALL
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
config.h
config.hin
.cproject
configDefinedKeys.cpp
configDefinedKeys.h
tags
.gcda
.gcno
.settings
.classpath
.project

*/target/
target
